body {margin:0 0;width:100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1{margin:1%}

.body{position:absolute;width:100%;overflow-x:hidden;top:3%;height:97%;background:black;color:white}
.navbar{position:fixed;top:0;width:100%;height:5%;display:grid;grid-template-columns:repeat(5,1fr);background:black;z-index:2}
.navbar:after{content:'';position:absolute;width:100%;height:10px;top:100%;background-image:linear-gradient(black,transparent);z-index:1}
.navbar{position:fixed;top:0;width:100%;height:5%;display:grid;grid-template-columns:repeat(5,1fr);background-image:linear-gradient(black, black,black,black,transparent);z-index:1}

.navbar a{position:relative;font-size:0.9em;color:white;text-decoration:none;width:100%;border-bottom:1px solid black;transition:1s}
.navbar a span{position:absolute;bottom:33%;width:100%;height:40%;text-align:center;transition:1s}

/* .navbar a:hover,.navbar a.active:hover{background:linear-gradient(gray,#06AFE3,#06AFE3);transition:1s} */
.navbar a:hover{transition:1s;border-bottom:1px solid #06AFE3;transition:1s}
.navbar a:hover span{font-weight:bold;transition:1s}
/* .navbar a.active:hover span{bottom:21.5%;font-size:1em;transition:1s} */

/* .navbar a.active{background:linear-gradient(gray,gray,#06AFE3);font-weight:bold;transition:1s} */

/* ENTRANCE */
.fullNameContainer{position:fixed;height:50%;width:100%;background:white;font-size:2em;z-index:1}
.fullNameContainer .full{background:transparent;position:absolute;bottom:10%;left:5%;width:200%;font-size:0.9em}
.fullNameContainer .full .name{position:relative;margin-right:0.25%;background:none}
.fullNameContainer .full .name span{color:#06AFE3;background:none}
.fullNameContainer .full .first{left:100%;animation: slide 1s ease 0.5s forwards}
.fullNameContainer .full .middle{left:90%;animation: slide 1s ease 1s forwards}
.fullNameContainer .full .last{left:70%;animation:slide 1s ease 1.5s forwards}
.fullNameContainer .full .suffix{left:60%;animation:slide 1s ease 2s forwards}

.footerContainer{background:#06AFE3;bottom:0;position:fixed;margin:0;width:100%;height:50%;}
.footerContainer .footer{background:#06AFE3;color:white;width:200%;list-style:none;font-size:1.5em;position:absolute;padding:0;left:5%}
.footerContainer .footer li{padding:1% 0;position:relative;left:100%;background:none;color:black}
.footerContainer .footer li.li0{animation: slide 1s ease 0.5s forwards}
.footerContainer .footer li.li1{animation: slide 1s ease 1s forwards}
.footerContainer .footer li.li2{animation: slide 1s ease 1.5s forwards}
.footerContainer .footer li.li3{animation: slide 1s ease 2s forwards}

@keyframes hide{from{visibility:hidden}to{visibility:hidden}}
@keyframes slide{to{left:0%;position:relative}}

.fullNameContainer .full .rest{animation:shrink 1s ease 4s forwards}

@keyframes shrink{to{font-size:0px;display:none}}

.fullNameContainer .full{animation:shrinkHeaderName 1s ease 4.5s forwards;}
.fullNameContainer{animation:shrinkHeader 2s ease 4s forwards}

@keyframes shrinkHeader{
  50%{background:transparent;height:50%;width:100%}
  100%{height:5%;width:20%;background:transparent;z-index:1;top:-3px}
}
@keyframes shrinkHeaderName{to{width:90%;background:transparent;}}

.footerContainer{animation:shrinkFooterContainer 1s ease 5s forwards}

@keyframes shrinkFooterContainer{to{height:0%}}

/* ENTRANCE */

.about{position:relative;padding-top:5%;}
.about p{text-align:justify}
.about p,.about h3{margin:5% 3%}
p a{color:white}
.contact{position:relative;height:95%;padding-top:10%}
.contact p{margin-left:3%;}

.resume{position:relative;height:90%;background:white;color:black;}
/* .resume:before{content:'';position:absolute;width:100%;height:50px;background-image:linear-gradient(white,transparent);top:99.5%}
.resume:after{content:'';position:absolute;width:100%;height:50px;background-image:linear-gradient(transparent,white);bottom:99.5%} */
/* .resume:before{content:'';width:100%;position:absolute;height: 0;border-style: solid;border-width: 0 0 200px 200px;border-color: transparent transparent white transparent;} */
/* .resume .transition{background:gray;content:'';height:30px;position:relative} */
.resume iframe{width:145%;left:-23%;right:-24%;height:90%;position:relative;border:none;margin:none}
div.socialMedia{text-align:center}
.contact a img{position:relative;height:100px;margin:3%}

.sideScroll{height:85%;width:100%;overflow-x:scroll;overflow-y:hidden;position:relative;white-space:nowrap;scroll-snap-type:x mandatory;padding:0;margin:0;bottom:0;}
.portfolio{position:relative;height:85%;padding-top:1%}
.portfolioItem{position:relative;display:inline-block;width:90%;height:95%;scroll-snap-align:center;white-space:normal;vertical-align:top;margin:1%;transition:transform .5s;overflow-y:scroll;border:1px solid black;transition:1s;border-radius:5px;padding:1%}
.portfolioItem:hover{transform:scale(1.01);border:1px solid white;transition:0.5s}

.portfolioItem h2{display:inline-block;top:0%;margin:3%;}
.portfolioItem p{padding:1% 1%;margin:0}
.portfolioItem iframe{position:relative;width:100%;max-width:600px;height:38%;}

.portfolioItem .links{float:right;width:50%}
.portfolioItem .linkCard{position:relative;float:right;white-space:nowrap;margin:0 3%;transition:0.25s}
.portfolioItem .linkCard:hover{transform:scale(1.1);transition:0.25s}
.portfolioItem .linkCard div p{float:left;font-size:1.4em;margin:0 2%}
.portfolioItem .linkCard p{color:white;display:inline-block;font-size:0.5em}
.portfolioItem .logo{height:2em;display:inline-block;}

/* Let's get this party started */
/* .sideScroll::-webkit-scrollbar {height:10%;} */

/* Track */
/* .sideScroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -webkit-border-radius: 25px;
  border-radius: 25px;background:transparent
} */

/* Handle */
/* .sideScroll::-webkit-scrollbar-thumb {
  -webkit-border-radius: 25px;
  border-radius: 25px;
  background: #06AFE3; 
  box-shadow: 0 0 6px rgba(0,0,0,0.5); 
} */
/* .sideScroll::-webkit-scrollbar-thumb:window-inactive {
background: #06AFE3; 
} */

.parallax{height:300px;background-attachment:fixed;background-position:center;background-repeat:no-repeat;background-size:100%;}
.coach{background-image:url("./coach.jpg");}
.chongqing{background-image:url("./chongqing.png")}
.volleyball{background-image:url("./volleyball.jpeg")}

/* .footer{background:lime;width:100%;position:absolute;height:8%;bottom:0;display:grid;grid-template-columns:repeat(4,1fr);padding:0;margin:0}
.footer li{list-style:none;text-align:center} */

/* NON-PHONE */
@media only screen and (min-width: 450px){
.portfolioItem{height:85%}
.resume{overflow:hidden;}
.resume iframe{width:100%;max-width:800px;margin:auto;left:0;right:0;height:90%;position:absolute}
.parallax{background-size:50%}
/* .portfolioItem .links{border:1px solid black;float:right;width:50%}
.portfolioItem .linkCard{position:relative;float:right;white-space:nowrap;margin:0 3%;transition:0.25s}
.portfolioItem .linkCard:hover{transform:scale(1.1);transition:0.25s}
.portfolioItem .linkCard div p{float:left;font-size:1.4em;margin:0 2%}
.portfolioItem .linkCard p{color:white;display:inline-block;font-size:0.5em}
.portfolioItem .logo{height:2em;display:inline-block;} */
}

@media only screen and (min-width: 900px){
.portfolioItem{max-width:800px}
.portfolioItem h2{display:block}
.portfolioItem .links{width:auto;margin:1%}
.portfolioItem .linkCard{overflow:auto;width:100%;text-align:right;margin:5% 1%}
.portfolioItem .logo{width:2em}
}