body {margin:0 0;width:100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1{margin:1%}
h2{color:#06AFE3}

.body{position:absolute;width:100%;overflow-x:hidden;top:3%;height:97%;background:white;color:black}
.navbar{position:fixed;top:0;width:100%;height:5%;display:grid;grid-template-columns:repeat(5,1fr);background:black;z-index:2}
/* .navbar:after{content:'';position:absolute;width:100%;height:10px;top:100%;background-image:linear-gradient(black,transparent);z-index:1} */
.navbar{position:fixed;top:0;width:100%;height:5%;display:grid;grid-template-columns:repeat(5,1fr);background-image:linear-gradient(black, black,black,black,transparent);z-index:1}

.navbar a{position:relative;font-size:0.9em;color:lightgray;text-decoration:none;width:100%;transition:0.25s;-webkit-transition:0.25s ease;}
.navbar a:hover{color:white;transition:0.25s}
.navbar a span{position:absolute;bottom:33%;width:100%;height:40%;text-align:center;transition:0.25s}

/* .navbar a:hover,.navbar a.active:hover{background:linear-gradient(gray,#06AFE3,#06AFE3);transition:1s} */
/* .navbar a:hover{transition:1s;border-bottom:1px solid #06AFE3;transition:1s} */
/* .navbar a:hover span{text-shadow: 2px 2px 2px #06AFE3;transition:1s} */
.underbar{height:0px;background:#06AFE3;top:90%;position:absolute;-webkit-transition:0.5s ease;transition:0.5s ease}
.navbar a:nth-of-type(1):hover ~ .underbar{left:20%;width:20%;background:#06AFE3;height:4px}
.navbar a:nth-of-type(2):hover ~ .underbar{left:40%;width:20%;background:#06AFE3;height:4px}
.navbar a:nth-of-type(3):hover ~ .underbar{left:60%;width:20%;background:#06AFE3;height:4px}
.navbar a:nth-of-type(4):hover ~ .underbar{left:80%;width:20%;background:#06AFE3;height:4px}
/* .navbar a.active:hover span{bottom:21.5%;font-size:1em;transition:1s} */

/* .navbar a.active{background:linear-gradient(gray,gray,#06AFE3);font-weight:bold;transition:1s} */

/* ENTRANCE */
.fullNameContainer{position:fixed;height:50%;width:100%;background:white;font-size:2em;z-index:1}
.fullNameContainer .full{background:transparent;position:absolute;bottom:10%;left:5%;width:200%;font-size:0.9em}
.fullNameContainer .full .name{position:relative;margin-right:0.25%;background:none}
.fullNameContainer .full .name span{color:#06AFE3;background:none}
.fullNameContainer .full .first{left:100%;
  -webkit-animation: slide 1s ease 0.5s forwards;
  -moz-animation: slide 1s ease 0.5s forwards;
  -o-animation: slide 1s ease 0.5s forwards;
  -ms-animation: slide 1s ease 0.5s forwards;
  animation: slide 1s ease 0.5s forwards}
.fullNameContainer .full .middle{left:90%;
  -webkit-animation: slide 1s ease 1s forwards;
  -moz-animation: slide 1s ease 1s forwards;
  -o-animation: slide 1s ease 1s forwards;
  -ms-animation: slide 1s ease 1s forwards;
  animation: slide 1s ease 1s forwards}
.fullNameContainer .full .last{left:70%;
  -webkit-animation: slide 1s ease 1.5s forwards;
  -moz-animation: slide 1s ease 1.5s forwards;
  -o-animation: slide 1s ease 1.5s forwards;
  -ms-animation: slide 1s ease 1.5s forwards;
  animation:slide 1s ease 1.5s forwards}
.fullNameContainer .full .suffix{left:60%;
  -webkit-animation: slide 1s ease 2s forwards;
  -moz-animation: slide 1s ease 2s forwards;
  -o-animation: slide 1s ease 2s forwards;
  -ms-animation: slide 1s ease 2s forwards;
  animation:slide 1s ease 2s forwards}

.footerContainer{background:#06AFE3;bottom:0;position:fixed;margin:0;width:100%;height:50%;}
.footerContainer .footer{background:#06AFE3;color:white;width:200%;list-style:none;font-size:1.5em;position:absolute;padding:0;left:5%}
.footerContainer .footer li{padding:1% 0;position:relative;left:100%;background:none;color:black}
.footerContainer .footer li.li0{
  -webkit-animation: slide 1s ease 0.5s forwards;
  -moz-animation: slide 1s ease 0.5s forwards;
  -o-animation: slide 1s ease 0.5s forwards;
  -ms-animation: slide 1s ease 0.5s forwards;
  animation: slide 1s ease 0.5s forwards}
.footerContainer .footer li.li1{
  -webkit-animation: slide 1s ease 1s forwards;
  -moz-animation: slide 1s ease 1s forwards;
  -o-animation: slide 1s ease 1s forwards;
  -ms-animation: slide 1s ease 1s forwards;
  animation: slide 1s ease 1s forwards}
.footerContainer .footer li.li2{
  -webkit-animation: slide 1s ease 1.5s forwards;
  -moz-animation: slide 1s ease 1.5s forwards;
  -o-animation: slide 1s ease 1.5s forwards;
  -ms-animation: slide 1s ease 1.5s forwards;
  animation: slide 1s ease 1.5s forwards}
.footerContainer .footer li.li3{
  -webkit-animation: slide 1s ease 2s forwards;
  -moz-animation: slide 1s ease 2s forwards;
  -o-animation: slide 1s ease 2s forwards;
  -ms-animation: slide 1s ease 2s forwards;
  animation: slide 1s ease 2s forwards}

@-webkit-keyframes hide{from{visibility:hidden}to{visibility:hidden}}
@-moz-keyframes hide{from{visibility:hidden}to{visibility:hidden}}
@-ms-keyframes hide{from{visibility:hidden}to{visibility:hidden}}
@-o-keyframes hide{from{visibility:hidden}to{visibility:hidden}}
  @keyframes hide{from{visibility:hidden}to{visibility:hidden}}
@-webkit-keyframes slide{to{left:0%;position:relative}}
@-moz-keyframes slide{to{left:0%;position:relative}}
@-ms-keyframes slide{to{left:0%;position:relative}}
@-o-keyframes slide{to{left:0%;position:relative}}
@keyframes slide{to{left:0%;position:relative}}

.fullNameContainer .full .rest{
  -webkit-animation: shrink 1s ease 4s forwards;
  -moz-animation: shrink 1s ease 4s forwards;
  -o-animation: shrink 1s ease 4s forwards;
  -ms-animation: shrink 1s ease 4s forwards;
  animation:shrink 1s ease 4s forwards}

@-webkit-keyframes shrink{to{font-size:0px;display:none}}
@-moz-keyframes shrink{to{font-size:0px;display:none}}
@-ms-keyframes shrink{to{font-size:0px;display:none}}
@-o-keyframes shrink{to{font-size:0px;display:none}}
  @keyframes shrink{to{font-size:0px;display:none}}

.fullNameContainer .full{
  -webkit-animation: shrinkHeaderName 1s ease 4.5s forwards;
  -moz-animation: shrinkHeaderName 1s ease 4.5s forwards;
  -o-animation: shrinkHeaderName 1s ease 4.5s forwards;
  -ms-animation: shrinkHeaderName 1s ease 4.5s forwards;
  animation:shrinkHeaderName 1s ease 4.5s forwards;}
.fullNameContainer{
  -webkit-animation: shrinkHeader 2s ease 4s forwards;
  -moz-animation: shrinkHeader 2s ease 4s forwards;
  -o-animation: shrinkHeader 2s ease 4s forwards;
  -ms-animation: shrinkHeader 2s ease 4s forwards;
  animation:shrinkHeader 2s ease 4s forwards}

  @-webkit-keyframes shrinkHeader{50%{background:transparent;height:50%;width:100%}100%{height:5%;width:20%;background:transparent;z-index:1;top:-3px}}
  @-moz-keyframes shrinkHeader{50%{background:transparent;height:50%;width:100%}100%{height:5%;width:20%;background:transparent;z-index:1;top:-3px}}
  @-ms-keyframes shrinkHeader{50%{background:transparent;height:50%;width:100%}100%{height:5%;width:20%;background:transparent;z-index:1;top:-3px}}
  @-o-keyframes shrinkHeader{50%{background:transparent;height:50%;width:100%}100%{height:5%;width:20%;background:transparent;z-index:1;top:-3px}}
  @keyframes shrinkHeader{50%{background:transparent;height:50%;width:100%}100%{height:5%;width:20%;background:transparent;z-index:1;top:-3px}}
  @-webkit-keyframes shrinkHeaderName{to{width:90%;background:transparent;}}
  @-moz-keyframes shrinkHeaderName{to{width:90%;background:transparent;}}
  @-ms-keyframes shrinkHeaderName{to{width:90%;background:transparent;}}
  @-o-keyframes shrinkHeaderName{to{width:90%;background:transparent;}}
  @keyframes shrinkHeaderName{to{width:90%;background:transparent;}}
  
  .footerContainer{
    -webkit-animation: shrinkFooterContainer 1s ease 5s forwards;
    -moz-animation: shrinkFooterContainer 1s ease 5s forwards;
    -o-animation: shrinkFooterContainer 1s ease 5s forwards;
  -ms-animation: shrinkFooterContainer 1s ease 5s forwards;
  animation:shrinkFooterContainer 1s ease 5s forwards}
  
  @-webkit-keyframes shrinkFooterContainer{to{height:0%}}
  @-moz-keyframes shrinkFooterContainer{to{height:0%}}
  @-ms-keyframes shrinkFooterContainer{to{height:0%}}
  @-o-keyframes shrinkFooterContainer{to{height:0%}}
  @keyframes shrinkFooterContainer{to{height:0%}}
  
  /* ENTRANCE */
  
  .about{position:relative;padding-top:5%;}
  .about *:not(h1){max-width:600px;margin:20px auto;padding:0px 10px}
  .about p{text-align:justify;line-height:20px;width:95%}
  .about p,.about h3{margin:20px auto}
  p a{color:black}
  .contact{position:relative;height:95%;padding-top:10%}
  .contact p{margin-left:3%;}
  div.socialMedia{text-align:center}
  .contact a{position:relative;height:100px;margin:3%;}
  .contactEmail a{display:inline;color:white;transition:0.25s;background:#06AFE3;border-radius:5px;padding:5px;border:1px solid #06AFE3;text-decoration:none;margin:0px}
  .contactEmail a:hover{color:#06AFE3;background:white;transition:0.25s}
  .github,.linkedin,.medium{color:transparent;position:relative;display:inline-block;background-size:100%;background-repeat:none;height:100px;width:100px}
  .github{background-image:url('./logos/GitHub-Mark-120px-plus.png')}
  .linkedin{background-image:url('./logos/LI-In-Bug.png');width:118px}
  .medium{background-image:url('./logos/medium-icon.png');}
  
.resume{position:relative;background:white;color:black;}

.downloadResumeLink{position:absolute;top:1%;right:1%;color:white;transition:0.25s;background:#06AFE3;border-radius:5px;padding:5px;text-decoration:none;border:1px solid #06AFE3}
.downloadResumeLink:hover{color:#06AFE3;background:white;transition:0.25s}

/* .resume:before{content:'';position:absolute;width:100%;height:50px;background-image:linear-gradient(white,transparent);top:99.5%}
.resume:after{content:'';position:absolute;width:100%;height:50px;background-image:linear-gradient(transparent,white);bottom:99.5%} */
/* .resume:before{content:'';width:100%;position:absolute;height: 0;border-style: solid;border-width: 0 0 200px 200px;border-color: transparent transparent white transparent;} */
/* .resume .transition{background:gray;content:'';height:30px;position:relative} */
.iframe-holder{position:relative;padding:10px;overflow-y:scroll}
.resume iframe{width:145%;left:-23%;right:-24%;height:1px;min-height:90%;max-height:90%;position:relative;border:none;margin:none}

.resume-holder{width:95%;position:relative;padding:0px;overflow:auto;max-width:600px;margin:auto}
.resume-holder h1,.resume-holder .contactInfo{text-align:center}
/* .resume-holder .contactInfo span{margin-left:5px;} */
.resume-holder .contactInfo span:not(:last-child):after{content:' | ';font-size:20px}
.resume-holder p{text-align:justify}
.personalStatement{font-size:14px}
.technicalSkillsGrid{position:relative;display:grid;grid-template-columns:repeat(3,1fr);padding:0px;margin:0px;overflow:hidden;transition:0.25s}
.technicalSkillsGrid p{font-weight:bold;padding:10px 0;margin:0px}
.technicalSkillsGrid ul{padding:0 0 0 20px;margin:0px}

/* .showHide{position:absolute;right:10px;top:-40px} */
.resumeSection{position:relative}
.showHide input{opacity:0;position:absolute;height:40px;width:40px;z-index:1;right:0px;top:0px;margin:5px}
.drawerArrows{position:absolute;right:2.5px;top:5px;margin:5px;transition:0.5s}
.drawerArrows span{background:black;height:5px;width:30px;display:inline-block;margin:0 -6px;border-radius:25px;}
.drawerArrows span:nth-child(1){transform:rotate(45deg);transition:0.25s}
.drawerArrows span:nth-child(2){transform:rotate(-45deg);transition:0.25s}
.showHide input:checked~ .drawerArrows span:first-child{transform:rotate(-45deg);transition:0.25s}
.showHide input:checked~ .drawerArrows span:nth-child(2){transform:rotate(45deg);transition:0.25s}
.showHide input:checked~.technicalSkillsGrid{height:0px;transition:height 0.25s easeout}
/* .showHide input:checked~ .drawerArrows{transform:rotate(180deg);transition:0.5s} */

.showHide input:checked .technicalSkillsGrid{background:lime}

.employmentCompany,.employmentTitle{padding:0;margin:0}
.resume-holder ul{margin:10px 0 20px}
.school{margin:0}
.degree{margin:0}


.portfolio{position:relative;padding:1%;}
/* .sideScroll{background: lime;width:100%;overflow:auto;position:relative;white-space:nowrap;-webkit-scroll-snap-type: mandatory;-webkit-scroll-snap-destination: 50% 50%;scroll-snap-type:x mandatory;padding:0;margin:0;bottom:0;} */
.portfolioItemContainer{width:auto;overflow:auto;position:relative;white-space:wrap;padding:15px 0;margin:0%;text-align:center}
/* .portfolioItem{background:rgb(240, 240, 240);position:relative;float:left;width:90%;height:96%;max-width:600px;-webkit-scroll-snap-coordinate: 50% 50%;scroll-snap-align:center;white-space:normal;vertical-align:top;margin:1% auto;transition:transform .5s;overflow-y:scroll;transition:1s;border-radius:0px;padding:1%;} */
.portfolioItem{text-align:left;display:inline-block;background:rgb(240, 240, 240);position:relative;width:95%;max-width:600px;white-space:auto;vertical-align:top;margin:1%;transition:transform .5s;overflow-y:scroll;transition:1s;border-radius:0px;padding:0%;box-shadow:15px 15px 15px lightgray}
.portfolioItem:hover{transform:scale(1.01);transition:0.5s}

.portfolioItem p{padding:1% 1%;margin:0;width:95%}
.portfolioItemDescription{width:95%;margin:auto;margin-top:10px;white-space:auto}
.portfolioItemDescription p{padding:0;margin:0}
/* .portfolioItemDescription ul{display:grid;grid-template-columns:repeat(auto-fit,minmax(150px,1fr))} */
.portfolioItemDescription ul{text-align:center;padding:0}
.portfolioItemDescription li{background-color:white;display:inline-block;border-radius:5px;padding:10px 5px;overflow:hidden;margin: 2px 1%;text-align:center;max-height:20px;width:40%;}

li.react,li.ruby,li.rails,li.postgresql,li.redux,li.javascript,li.css,li.sqlite,li.html,li.sql{background-repeat:no-repeat;color:transparent;background-position:center;user-select:none}
.react{background-image:url('./logos/react.png');background-size:130px;}
.ruby{background-image:url('./logos/ruby.png');background-size:110px}
.rails{background-image:url('./logos/rails.png');background-size:90px}
.postgresql{background-image:url('./logos/postgres.png');background-size:110px}
.redux{background-image:url('./logos/redux.png');background-size:130px}
.javascript{background-image:url('./logos/javascript.png');background-size:110px}
.css{background-image:url('./logos/css.jpg');background-size:90px}
.html{background-image:url('./logos/html.jpg');background-size:100px}
.sql{background-image:url('./logos/sql.jpg');background-size:100px}
.sqlite{background-image:url('./logos/sqlite.png');background-size:90px}

.portfolioItem .iframe-container{position:relative;width:95%;height:0;padding-bottom:56.25%;margin:auto}
.portfolioItem iframe{position:absolute;width:100%;height:100%;max-height:500px}

.portfolioTopRow{display:grid;grid-template-columns:1fr 2fr;height:75px;width:95%;margin:auto;padding-top:10px}
.portfolioTopRow h2{padding:0px;margin-top:10px}
.linkCard{margin:1px;width:auto;float:right;width:65px;transition:1s;height:60px;border:1px solid white;background:gray;border-radius:5px}
.linkCard:hover{transform:scale(1.1);transition:1s}
.linkCard:hover div p:nth-child(2){color:white;transition:0.5s;text-shadow:1px 1px 10px #06AFE3,-1px -1px 10px #06AFE3,-1px 1px 10px #06AFE3,1px -1px 10px #06AFE3}
.linkCard a{text-decoration:none}
.linkCard a div{position:relative;max-width:300px}
.linkCard a div div{display:block;text-align:center;margin:auto;height:25px}
p.logo{padding:0;margin:0;color:white;font-size:20px}
img.logo{margin-top:2px;height:20px;}
.linkCard div p:not(:first-child){font-size:14px;color:white;text-align:center}
.linkCard div p:nth-child(3){font-size:10px}
/* .portfolioItem .linkCard div p{font-size:10px;margin:0 2%;color:white} */
/* .portfolioItem a div p.logo{height:1em;color:white;font-size:20px} */

/* Let's get this party started */
/* .sideScroll::-webkit-scrollbar {height:10%;} */

/* Track */
/* .sideScroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -webkit-border-radius: 25px;
  border-radius: 25px;background:transparent
} */

/* Handle */
/* .sideScroll::-webkit-scrollbar-thumb {
  -webkit-border-radius: 25px;
  border-radius: 25px;
  background: #06AFE3; 
  box-shadow: 0 0 6px rgba(0,0,0,0.5); 
} */
/* .sideScroll::-webkit-scrollbar-thumb:window-inactive {
background: #06AFE3; 
} */

.parallax{height:300px;background-attachment:fixed;background-position:center;background-repeat:no-repeat;background-size:100%;}
.coach{background-image:url("./parallax/coach.jpg");}
.chongqing{background-image:url("./parallax/chongqing.png")}
.volleyball{background-image:url("./parallax/volleyball.jpeg")}

/* .footer{background:lime;width:100%;position:absolute;height:8%;bottom:0;display:grid;grid-template-columns:repeat(4,1fr);padding:0;margin:0}
.footer li{list-style:none;text-align:center} */

/* NON-PHONE */
@media only screen and (min-width: 450px){
  .resume{overflow:hidden;}
  .resume iframe{width:100%;max-width:600px;margin:auto;left:0;right:0;height:90%;position:absolute}
  .portfolioItem{height:90%}
  .about *:not(h1){margin:20px auto}
  .about p{line-height:30px;}
  /* .portfolioItem .links{border:1px solid black;float:right;width:50%}
  .portfolioItem .linkCard{position:relative;float:right;white-space:nowrap;margin:0 3%;transition:0.25s}
  .portfolioItem .linkCard:hover{transform:scale(1.1);transition:0.25s}
  .portfolioItem .linkCard div p{float:left;font-size:1.4em;margin:0 2%}
  .portfolioItem .linkCard p{color:white;display:inline-block;font-size:0.5em}
  .portfolioItem .logo{height:2em;display:inline-block;} */
}

@media only screen and (min-width: 600px){
  .parallax{background-size:600px}
}

@media only screen and (min-width: 860px){
.chongqing{background-image:url("./parallax/chongqing-big.png")}
/* .portfolioItemLower{display:grid;grid-template-columns:3fr 2fr;} */
/* .portfolioItem{overflow:hidden} */
/* .portfolioItem .iframe-container{position:relative;width:100%;height:0;padding-bottom:56.25%;max-width:600px;} */
/* .portfolioItem iframe{position:absolute;width:100%;height:100%;max-height:400px} */
}

@media only screen and (min-width:1250px){
  .portfolioItem{min-height:730px;max-height:730px}

}