body {margin:0 0;width:100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1{margin:3%}
.scroll-progress-container{width:100%;height:8px;background:lime}
.scroll-progress-bar{height:8px;background:pink;width:10%}

.body{position:absolute;width:100%;overflow-x:hidden;top:8%;bottom:0%}
.navbar{position:fixed;top:0;width:100%;height:8%;display:grid;grid-template-columns:repeat(5,1fr)}
.navbar div{font-size:1.5em;padding-left:4%}
/* .full{background:pink}
.full .name{display:inline-block;visibility:hidden;font-size:0px}
.full .name:first-letter{visibility:visible;font-size:20px} */
.navbar a{text-align:center;font-size:1.1em;padding-top:15%}
.navbar a{color:white;background:blue;text-decoration:none;}

/* ENTRANCE */
.fullNameContainer1{position:fixed;height:50%;width:100%;background:white;font-size:2em;}
.fullNameContainer1 .full{background:white;position:absolute;bottom:10%;left:5%;width:200%}
.fullNameContainer1 .full .name{position:relative;margin-right:0.25%;left:100%}
.fullNameContainer1 .full .first{animation: slide 1s ease 0.5s forwards}
.fullNameContainer1 .full .middle{animation: slide 1s ease 1s forwards}
.fullNameContainer1 .full .last{animation:slide 1s ease 1.5s forwards}
.fullNameContainer1 .full .suffix{animation:slide 1s ease 2s forwards}
/* .fullNameContainer1 .full .rest:after{content:' '} */

.footerContainer1{background:blue;bottom:0;position:fixed;margin:0;width:100%;height:50%;}
.footerContainer1 .footer{background:blue;color:white;width:200%;list-style:none;font-size:1.5em;position:absolute;padding:0;left:5%}
.footerContainer1 .footer li{padding:1% 0;position:relative;left:100%}
.footer li.li0{animation: slide 1s ease 0.5s forwards}
.footer li.li1{animation: slide 1s ease 1s forwards}
.footer li.li2{animation: slide 1s ease 1.5s forwards}
.footer li.li3{animation: slide 1s ease 2s forwards}

@keyframes hide{from{visibility:hidden}to{visibility:hidden}}
@keyframes slide{from{left:100%;}to{left:0%;position:relative}}

.fullNameContainer1 .full .rest{animation:shrink 1s ease 4s forwards}

@keyframes shrink{to{font-size:0px;display:none}}

.fullNameContainer1{animation:shrinkHeader 1s ease 5s forwards}
.fullNameContainer1 .full{animation:shrinkHeaderName 1s ease 4.5s forwards}

@keyframes shrinkHeader{to{height:8%;width:20%}}
@keyframes shrinkHeaderName{to{width:90%}}

.footerContainer1{animation:shrinkFooterContainer 1s ease 5s forwards}

@keyframes shrinkFooterContainer{to{height:0%}}

/* ENTRANCE */

.about{padding:0;}
.about p{text-align:justify}
.about p,.about h3{margin:5% 3%}
.contact p{margin-left:3%;}

.resume iframe{width:149%;left:-25%;right:-25%;height:100%;position:absolute}
div.socialMedia{text-align:center}
.contact a img{position:relative;height:100px;margin:3%}

.sideScroll{height:85%;width:100%;overflow-x:scroll;overflow-y:hidden;position:absolute;white-space:nowrap;scroll-snap-type:x mandatory;padding:0;margin:0}
.portfolioItem{display:inline-block;width:90%;height:100%;scroll-snap-align:center;white-space:normal;vertical-align:top;margin:0 1%;transition:transform .5s;}
.portfolioItem:hover{transform:scale(1.01);transition:transform .5s;}
.portfolioItem h2,.portfolioItem p{padding:0 1%}
.portfolioItem iframe{position:relative;width:100%;}
.portfolioItem .logo{height:2em;position:relative;float:right;padding:2%}

/* Let's get this party started */
.sideScroll::-webkit-scrollbar {height:10%;}

/* Track */
.sideScroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -webkit-border-radius: 25px;
  border-radius: 25px;background:transparent
}

/* Handle */
.sideScroll::-webkit-scrollbar-thumb {
  -webkit-border-radius: 25px;
  border-radius: 25px;
  background: rgb(69, 69, 255); 
  box-shadow: 0 0 6px rgba(0,0,0,0.5); 
}
.sideScroll::-webkit-scrollbar-thumb:window-inactive {
background: blue; 
}

.parallax{height:300px;background-attachment:fixed;background-position:center;background-repeat:no-repeat;background-size:100%;}
.coach{background-image:url("./coach.jpg");}
.chongqing{background-image:url("./chongqing.png")}
.volleyball{background-image:url("./volleyball.jpeg")}

/* .footer{background:lime;width:100%;position:absolute;height:8%;bottom:0;display:grid;grid-template-columns:repeat(4,1fr);padding:0;margin:0}
.footer li{list-style:none;text-align:center} */

/* NON-PHONE */
@media only screen and (min-width: 450px){
.resume iframe{width:100%;max-width:800px;margin:auto;left:0;right:0;height:100%;position:absolute}
.parallax{background-size:50%}
}